*{
    box-sizing: border-box;
    text-overflow: hidden;
    margin: 0;
    padding: 0;     
}
.black {
    background-color: rgb(18, 22, 37);
    margin: auto;
    min-width: 600px;
    max-width: 2400px;
    height: 60px;
}
#amazonpic {
    padding: 6px 0px 0px 14px;
}
#deliverpic {
    padding: 0px 0px 0px 5px;
    vertical-align:1px ;
}
#all {
    height: 40px;
    width: 53px;
    text-align: center;
}
#alla {
    display: inline;
    padding: 0px 0px 0px 6px;
    vertical-align: 19px;
}
#searchbar {
    height: 40px;
    width: 615px;
    margin-left: -6px;
}
#searchpic {
    vertical-align: -15px;
    height: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#languagepic {
    padding: 0px 0px 0px 20px;
    vertical-align: 3px;
}
#returnpic {
    vertical-align: 6px;
    padding: 0px 0px 0px 9px;
}
#cartpic {
    vertical-align: 5px;
    margin-left: 5px;
}
#navbar2 {
    background-color: rgb(34, 45, 63);
    color: white;
    height: 40px;
}
#all2 {
    display: inline;
    margin: 0px 0px 0px 13px;
    vertical-align: -22px;
}
.list {
    display: inline;
    vertical-align: -12px;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#cart3 {
    display: inline;
}
body {
    background-color: rgb(224, 231, 229);
}
#cart4 {
    background-color: white;
    display: inline-block;
    width: 1000px;
    margin: 15px 0px 0px 20px;
}
#h21 {
    display: inline;
    vertical-align: 160px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 27px;
}
#image {
    margin: 40px 0px 0px 20px;
}
#cart5 {
    margin-left: -300px;
 vertical-align: 135px ;
}
#button1 {
    margin-left: 350px;
    vertical-align: 500px;
}