*{
    box-sizing: border-box;
    text-overflow: hidden;
    margin: 0;
    padding: 0;     
}
.black {
    background-color: rgb(18, 22, 37);
    margin: auto;
    min-width: 600px;
    max-width: 2400px;
    height: 60px;
}
#amazonpic {
    padding: 6px 0px 0px 14px;
}
#deliverpic {
    padding: 0px 0px 0px 5px;
    vertical-align:1px ;
}
#all {
    height: 35px;
    width: 53px;
    text-align: center;
}
#alla {
    display: inline;
    padding: 0px 0px 0px 6px;
    vertical-align: 19px;
}
#searchbar {
    height: 35px;
    width: 615px;
    margin-left: -6px;
}
#searchpic {
    vertical-align: -13px;
    height: 35px;
}
#languagepic {
    padding: 0px 0px 0px 20px;
    vertical-align: 3px;
}
#returnpic {
    vertical-align: 6px;
    padding: 0px 0px 0px 9px;
}
#cartpic {
    vertical-align: 5px;
    margin-left: 5px;
}
#navbar2 {
    background-color: rgb(34, 45, 63);
    color: white;
    height: 40px;
}
#all2 {
    display: inline;
    margin: 0px 0px 0px 13px;
    vertical-align: -22px;
}
.list {
    display: inline;
    vertical-align: -12px;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.top {
    width: 100%;
    margin: 10px -8px 2px -8px;
    background-color:rgb(78, 78, 107);
    text-align: center;
    vertical-align: middle;
    padding-top: 18px;
    padding-bottom: 18px;

}
.top:hover {
    background-color:rgb(100, 100, 129); ;

}
#back:link{
    color: white;
    text-decoration: none;
}
#back:visited{
    color: white;
    text-decoration: none;
}
#footer {
    background-color:rgb(78, 78, 107); ;
    color: white;
    height: 500px;
}
.links:link {
    color: white;
    text-decoration: none;
}
.links:visited{
    color: white;
    text-decoration: none;
}
.links:hover{
    text-decoration: underline;
}
.main{
    background-color: #efefef;
    background-image: url(./images/pics/main/main.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1800px;
       
    
}
.one,.two,.three,.four{
    height: 118px;
   display: inline; 
   width: 48%;
}
.main1{
    position: relative;
    top: -80px;
    height: 400px;
    background-color: white;
    padding: 10px;
    width: 23%;
    margin-left: 10px;


}
.main2{
    position: relative;
    top: -80px;
    padding: 10px;
    height: 400px;
    background-color: white;
    width: 23%;
    margin-left: 20px;
}
.main3{
    position: relative;
    top: -80px;
    padding: 10px;
    height: 400px;
    background-color: white;
    width: 23%;
    margin-left: 20px;
}
.main4{
    position: relative;
    top: 250px;
    padding: 10px;
    height: 400px;
    background-color: white;
    width: 23%;
    margin-left: 20px;
}
.main5{
    position: relative;
    top: -90px;
    height: 400px;
    padding: 10px;
    background-color: white;
    width: 23%;
    margin-left: 10px;
}
.main6{
    position: relative;
    bottom: 420px;
    padding: 10px;
    height: 400px;
    background-color: white;
    width: 23%;
    margin-left: 20px;
}
.main7{
    position: relative;
    top: -90px;
    height: 400px;
    padding: 10px;
    background-color: white;
    width: 23%;
    margin-left: 20px;
}
.main8{
    position: relative;
    top: -90px;
    height: 400px;
    padding: 10px;
    background-color: white;
    width: 23%;
    margin-left: 20px;
}

.one{
    position:absolute;
    bottom: 230px;
}
.two{
    position: absolute;
    left: 160px;
    bottom: 230px;
    
}
.three{
    position: absolute;
    left: 0px;
    bottom: 50px;
}

.four{
    position: absolute;
    left: 160px;
    bottom: 50px;
    
}

#min{
    display: inline-block;
}
.anchor{
    color: green;
    text-decoration: none;
    position:absolute;
    bottom: 0px;
}
.anchor:hover{
    color: orangered;
}
.ancho{
    color: green;
    text-decoration: none;
}
.ancho:hover{
    color: orangered;
}
.slider{
    position:relative;
    bottom: 400px;
    padding: 5px 5px;
    background-color: white;
}   
.pica{
    margin: 0 5px;
}
.main9{
    position: relative;
    top: -625px;
    height: 400px;
    background-color: white;
    padding: 10px;
    width: 23%;
    margin-left: 10px;
}
.main10{
    position: relative;
    top: -625px;
    height: 400px;
    background-color: white;
    padding: 10px;
    width: 23%;
    margin-left: 10px;
}
.main11{
    position: relative;
    top: -370px;
    height: 400px;
    padding: 10px;
    background-color: white;
    width: 23%;
    /* margin-left: 20px; */
}
