
.black {
    background-color: rgb(18, 22, 37);
    margin: -8px;
    height: 60px;
}
#amazonpic {
    padding: 6px 0px 0px 14px;
}
#deliverpic {
    padding: 0px 0px 0px 5px;
    vertical-align:1px ;
}
#all {
    height: 40px;
    width: 53px;
    text-align: center;
}
#alla {
    display: inline;
    padding: 0px 0px 0px 6px;
    vertical-align: 19px;
}
#searchbar {
    height: 35px;
    width: 615px;
    margin-left: -6px;
}
#searchpic {
    vertical-align: -16px;
    height: 40px;
}
#languagepic {
    padding: 0px 0px 0px 20px;
    vertical-align: 3px;
}
#returnpic {
    vertical-align: 6px;
    padding: 0px 0px 0px 9px;
}
#cartpic {
    vertical-align: 5px;
    margin-left: 5px;
}
#navbar2 {
    background-color: rgb(34, 45, 63);
    color: white;
    height: 40px;
}
#all2 {
    display: inline;
    margin: 0px 0px 0px 13px;
    vertical-align: -22px;
}
.list {
    display: inline;
    vertical-align: -12px;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.top {
    width: 1318px;
    margin: 10px -8px 2px -8px;
    background-color:rgb(78, 78, 107);
    text-align: center;
    vertical-align: middle;
    padding-top: 18px;
    padding-bottom: 18px;

}
.top:hover {
    background-color:rgb(100, 100, 129); ;

}
#back:link{
    color: white;
    text-decoration: none;
}
#back:visited{
    color: white;
    text-decoration: none;
}
#footer {
    background-color:rgb(78, 78, 107); ;
    color: white;
}
.links:link {
    color: white;
    text-decoration: none;
}
.links:visited{
    color: white;
    text-decoration: none;
}
.links:hover{
    text-decoration: underline;
}
